<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_discographies</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">validate</property>

        <!--<mapping resource="com/antonfifindik/discographies/models/AlbumTypes.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.AlbumTypes"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/Albums.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.Albums"/>
        <!--<mapping class="com.antonfifindik.discographies.models.AlbumsGenres"/>-->
        <!--<mapping resource="com/antonfifindik/discographies/models/AlbumsGenres.hbm.xml"/>-->
        <!--<mapping class="com.antonfifindik.discographies.models.AlbumsLabels"/>-->
        <!--<mapping resource="com/antonfifindik/discographies/models/AlbumsLabels.hbm.xml"/>-->
        <!--<mapping class="com.antonfifindik.discographies.models.AlbumsProducers"/>-->
        <!--<mapping resource="com/antonfifindik/discographies/models/AlbumsProducers.hbm.xml"/>-->
        <!--<mapping resource="com/antonfifindik/discographies/models/AuthorTypes.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.AuthorTypes"/>
        <mapping class="com.antonfifindik.discographies.models.Authors"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/Authors.hbm.xml"/>-->
        <!--<mapping class="com.antonfifindik.discographies.models.AuthorsMusicians"/>-->
        <!--<mapping resource="com/antonfifindik/discographies/models/AuthorsMusicians.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.Genres"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/Genres.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.Labels"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/Labels.hbm.xml"/>-->
        <!--<mapping resource="com/antonfifindik/discographies/models/Musicians.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.Musicians"/>
        <mapping class="com.antonfifindik.discographies.models.Producers"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/Producers.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.RecordTypes"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/RecordTypes.hbm.xml"/>-->
        <mapping class="com.antonfifindik.discographies.models.Songs"/>
        <!--<mapping resource="com/antonfifindik/discographies/models/Songs.hbm.xml"/>-->
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>